body
{
color:white;
background-color:#191b30;
}
.container
{
width:915px;
margin:auto;
height:80px;
margin-top:50px;
background-color:#394166;
}
ul
{
list-style-type:none;
}
li
{
padding-right:60px;
float:left;
padding-top:30px;
}
.one
{
width:250px;
margin-left:210px;
height:220px;
background-color:#394166;
margin-top:20px;
float:left;
}
.onee
{
padding-bottom:12px;
padding-top:5px;
border-bottom:2px solid black;
}
.two
{
width:320px;
padding-top:30px;
margin-left:20px;
height:250px;
background-color:#394166;
margin-top:20px;
float:left;
}
.three
{
width:305px;
padding-top:20px;
margin-left:20px;
height:130px;
background-color:#394166;
margin-top:20px;
float:left;
}
.four
{
width:250px;
margin-left:210px;
height:230px;
background-color:#394166;
margin-top:260px;
float:left;
position:absolute;
padding-top:20px
}
.four1
{
width:80px;
height:80px;
border:20px solid blue;
border-radius:80%;
}
.five
{
width:320px;
padding-top:30px;
margin-left:485px;
height:160px;
background-color:#a3253a;
margin-top:320px;
float:left;
position:absolute;
margin-bottom: 40px;
}
.five1
{
padding-left:40px;
width:280px;
height:100px;
background-color: red;
padding-top: 10px;
paddind-bottom:30px;
}
.six
{
width:305px;
padding-top:20px;
margin-left:823px;
height:260px;
background-color:#394166;
margin-top:190px;
float:left;
position:absolute;
}
#a,#b,#c
{
width:33.33%;
height:5px;
}
#a
{
background-color:yellow;
float:left;
}
#b
{
background-color:#018287;
float:left;
}
#c
{
background-color:#B4394D;
float:left;
}
#d,#e,#f
{
height:35px;
width:33%;
float:left;
text-align:center;
padding-top:10px;
}