*{
    border-radius: 4px;
}
#main{
    height: 768px;
    width: 1366px;
    }
#div1{
font-family: regular ;
background-color:#1e9cc7;
padding-left: 52px;
padding-top: 5px;
height:60px; 
    }
#div2{
    height: 209px;
}
#div3{
    background-color:#131313;
    height: 60px; 
    padding-left: 52px;
    padding-top: 5px;
}
#text1{
    color: red;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}
#text2{
    color:#373737;
    font-size: 32pt;
    font-family:regular; 
}
#text3{
    color:#5c5c5c;
    font-size: 22pt;
    font-family:regular; 
}
#div4{
    margin-left: 273px;
    margin-right: 273px;
    margin-bottom: 162px;
    background-color:#e1e2e6;
    height: 279px;
    width: 821px;
}
#email{
    margin-top: 2px;
    margin-left: 34px;
    height: 28px;
    width: 321px;
}
#password{
    margin-top: 27px;
    margin-left: 34px;
    height: 28px;
    width: 321px;  
}
#checkbox{
    height: 17px;
    width: 17px;
    margin-left: 34px;
    margin-top: 18px;
}
#button1{
    margin-left: 34px;
    height: 28px ;
    width: 321px ;
    background-color:#5d76e0;
    margin-top: 18px;
}
#forgotpswd{
    margin-left: 64px;     
}
#or{
    height: 30px;
    width: 40px;
    color: #ffffff ;
    background-color:#464646;
    top: 130px;
    left: 411px;
    position : relative;
    font-size: 16pt;
}
#button2{
    height:28px;
    width: 321px;
    background-color:#5d76e0;
    font-size: 16pt;
    text-align: center;
    color: #ffffff;
    margin-left: 470px;
    position: absolute;
    margin-top: -130px;    
}
li{
    float:left;
    color:#ffffff;
 }
    